.testBlock {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 100vh;
    background: #1b1638;
    color: white;
    font-family: Gilroy, Helvetica, Arial, sans-serif;
}

.testContainer {
    position: relative;
    height: 400px;
    width: 440px;
    margin-top: -120px;
}

.testContainerTop {
    position: absolute;
    height: 400px;
    width: 440px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background: linear-gradient(131deg, #fd9c54, #ff7a7f, #e66b95, #6a2bbe, #251b33);
    border-radius: 20px;
    z-index: 60;
}

.testContainerTop:hover {
    border: 1px solid #fff;
    box-shadow:0 0 20px #555;
}

.testContainerMiddle {
    position: absolute;
    top: 12px;
    left: 10px;
    height: 400px;
    width: 420px;
    background: #734295;
    opacity: 40%;
    border-radius: 20px;
    z-index: 40;
}

.testContainerBottom {
    position: absolute;
    top: 20px;
    left: 30px;
    height: 400px;
    width: 380px;
    background: #391f5e;
    border-radius: 20px;
    z-index: 0;
}
.testBlock a {
    text-decoration: none;
    color: white;
}