.resultForQuestionContainer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    width: 450px;
    height: 150px;
    margin: 20px auto;
    font-family: "Noto Sans", Helvetica, Arial, sans-serif;
    font-size: 18px;
    color: white;
}
.coverBlock {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 50%;
    width: 100%;
    background: linear-gradient(131deg, #63d8e4, #7197f4, #9c63f4, #b25fc5);
    border: 1px solid white;
    border-radius: 45px 15px 15px 45px;
}
.answerBlock {
    display: block;
    height: 45%;
    width: 415px;
    background: linear-gradient(131deg, #63d8e4, #7197f4, #9c63f4, #b25fc5);
    margin-left: 35px;
    margin-top: 5px;
}
.questionTitle {
    padding-left: 20px;
}
.questionNumber {
    width: 70px;
    height: 100%;
    border: 5px solid white;
    border-radius: 50%;
    cursor: pointer;
    text-align: center;
    font-size: 2em;
    font-weight: bolder;
   line-height: 65px;
}
